{% extends '::layout.front.html.twig' %}

{% block title %}{% trans %}Абдилхамидов Руслан. Персональный сайт.{% endtrans %}{% endblock %}

{% block bodyclass %}class="aboutme"{% endblock %}
	
{% block content %}

<section class="chapter">
	<div class="content resume">
		<h2>{% trans %}О себе{% endtrans %}</h2>
		
		<h3>{% trans %}Образование{% endtrans %}</h3>
		<p>{% trans %}trans_education{% endtrans %}</p>
		<h3>{% trans %}Общий стаж работы{% endtrans %}</h3>
		<ul>
			<li>- {% trans %}в области WEB-программирования 7 лет.{% endtrans %}</li>
			<li>- {% trans %}в области дизайна и верстки более 10 лет.{% endtrans %}</li>
		</ul>

		<h3>Профессиональные навыки</h3>
		<h4>WEB-программирование</h4>
		<p>Дизайн, верстка, программирование и поддержка сайтов на: 1C Bitrix, WordPress, собственном коде (php, MYSQL, jquery), флэш (AS3)</p>
		<p>Опыт работы: php, MYSQL, jquery, AS3, GulpJS</p>

		<h4>Дизайн (полиграфия, WEB)</h4>
		<ul>
			<li>- Креатив, дизайн, верстка, допечатная подготовка.</li>
			<li>- Участие в фотосессиях.</li>
			<li>- Знание полиграфических процессов и требований к допечатной подготовке.</li>
		</ul>

		<h3>Стаж <span>(последние 5 мест)</span></h3>
		<table>
			<thead>
				<tr>
					<td>{% trans %}Время{% endtrans %}</td>
					<td>{% trans %}Должность{% endtrans %}</td>
					<td>{% trans %}Компания{% endtrans %}</td>
					<td>{% trans %}Должностные обязанности{% endtrans %}</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{% trans %}февраль 2014 <br> настоящее время{% endtrans %}</td>
					<td>{% trans %}Программист{% endtrans %}</td>
					<td>{% trans %}CPCS{% endtrans %}</td>
					<td>{% trans %}Верстка сайтов, программирование{% endtrans %}</td>
				</tr>
				<tr>
					<td>{% trans %}октябрь 2014 <br> октябрь 2013{% endtrans %}</td>
					<td>{% trans %}Арт-директор{% endtrans %}</td>
					<td>{% trans %}Фарммедия{% endtrans %}</td>
					<td>{% trans %}
						Руководство дизайнерским отделом из 8 дизайнеров. Была разработана и запущена система прохождения заказов и учета рабочего времени на вэб-интерфейсе. Также была организована система каталогизации проектов и работа с сервера. Работа с фармацевтическими компании. Была организована долгосрочная работа с MaryKey
					{% endtrans %}</td>
				</tr>
				<tr>
					<td>{% trans %}февраль 2014 <br> январь 2007 {% endtrans %}</td>
					<td>{% trans %}WEB-разработчик{% endtrans %}</td>
					<td>{% trans %}Freelance{% endtrans %}</td>
					<td>{% trans %}
						Разработка сайтов с нуля и под ключ как на собственном коде (php, mySql) так и в рамках cms (Битрикс, Вордпресс). Дизайн, front-end, back-end
					{% endtrans %}</td>
				</tr>
				<tr>
					<td>{% trans %}декабрь 2011 <br> октябрь 2008{% endtrans %}</td>
					<td>{% trans %}Дизайнер{% endtrans %}</td>
					<td>{% trans %}Фарммедия{% endtrans %}</td>
					<td>{% trans %}
						Разработка рекламных макетов (новые имиджи, адаптация и др.) для фармацевтической компании Sandoz и подготовка их в печать
					{% endtrans %}</td>
				</tr>
				<tr>
					<td>{% trans %}июль 2008 <br> декабрь 2004{% endtrans %}</td>
					<td>{% trans %}Заместитель арт-директора, дизайнер{% endtrans %}</td>
					<td>{% trans %}ITC Publishing{% endtrans %}</td>
					<td>{% trans %}
						Главный дизайнер журналов "dFOTO", "What Hi-Fi", "Компьютерное Обозрение".
						Разработка концепции и реализация обложек и разворотов журналов. Фотосъемка в студии. Цветокоррекция и ретушь
					{% endtrans %}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>

{% endblock %}
