{% extends '::layout.front.html.twig' %}

{% block title %}{% trans %}Абдилхамидов Руслан. Персональный сайт.{% endtrans %}{% endblock %}

{% block bodyclass %}class="contacts"{% endblock %}
	
{% block content %}

<section class="chapter">
	<div class="content contacts-block">
		<h2>{% trans %}Контакты{% endtrans %}</h2>
		<div class="left-block">
			<p>{% trans %}Звоните, пишите. Буду рад обсудить варианты сотрудничества или ответить на интересующие вопросы.{% endtrans %}</p> 
			<p>{% trans %}Тел{% endtrans %}.: +38 067 377 70 77</p>
			<p>Email: <a href="mailto:rus-abd@ukr.net">rus-abd@ukr.net</a></p>
			<p>Skype: Abdilkhamidov</p>
		</div>
		<div class="right-block">
			{{ render(controller("DemosBlogBundle:Default:feedback", { 'request': app.request } )) }}
		</div>
	</div>
</section>

{% endblock %}
