<figure>
	{% if post.image %}
	<a class="imglink" href="{% path post.image, 'big' %}">
		{% if post.image.height > post.image.width %}
			{% media post.image, 'big' with {'width': 'auto', 'style': 'width: 100%; height: auto'} %}
		{% else %}
			{% media post.image, 'big' with {'width': 'auto'} %}
		{% endif %}
	</a>
	{% endif %}

	{% if app.request.locale == 'en' %}
		{% set title = post.titleEn %}
		{% set body = post.bodyEn %}
	{% else %}
		{% set title = post.title %}
		{% set body = post.body %}
	{% endif %}

	{% if title or body %}
		<figcaption>
			{% if title %}<h4>{{ title }}</h4>{% endif %}
			{% if body %}<p>{{ body|raw }}</p>{% endif %}
		</figcaption>
	{% endif %}

	{% if app.user and "ROLE_ADMIN" in app.user.roles %}
		<a href="{{ url('admin_demos_blog_post_edit', {'id': post.id}) }}" class="admin-edit-link">Edit</a>
	{% endif %}
</figure>