<figure>
	{% if post.image %}
	<a class="imglink" href="{% path post.image, 'big' %}">
		{% if post.image.height > post.image.width %}
			{% media post.image, 'big' with {'width': 'auto', 'style': 'width: 100%; height: auto'} %}
		{% else %}
			{% media post.image, 'big' with {'width': 'auto'} %}
		{% endif %}
	</a>
	{% endif %}
	{% if post.title or post.body %}
		<figcaption>
			{% if post.title %}<h4>{{ post.title }}</h4>{% endif %}
			{% if post.body %}<p>{{ post.body|raw }}</p>{% endif %}
		</figcaption>
	{% endif %}
</figure>