{% extends '::base.html.twig' %}

{% block title %}Test Mail | Абдилхамидов. Портфолио{% endblock %}

{% block body %}
	<h2>Тестирование почтовой системы</h2>
	<pre>{{ dump(mailer_result)}}</pre>
{% endblock %}