/**
 * 1.0 Reset
 *
 * Modified from Normalize.css to provide cross-browser consistency and a smart
 * default styling of HTML elements.
 *
 * ----------------------------------------------------------------------------
 */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: "rr"; }

b, strong {
  font-weight: bold; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 14px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre {
  background: #f5f5f5;
  color: #666;
  font-family: monospace;
  font-size: 14px;
  margin: 20px 0;
  overflow: auto;
  padding: 20px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

blockquote, q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

blockquote {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin: 24px 40px; }

blockquote blockquote {
  margin-right: 0; }

blockquote cite, blockquote small {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase; }

blockquote em, blockquote i {
  font-style: normal;
  font-weight: 300; }

blockquote strong, blockquote b {
  font-weight: 400; }

small {
  font-size: smaller; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl {
  margin: 0 20px; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 20px; }

menu, ol, ul {
  margin: 16px 0;
  padding: 0 0 0 40px; }

ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

li > ul, li > ol {
  margin: 0; }

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

h1, h2, h3, h4, h5 {
  font-family: 'rt'; }

p {
  font-family: 'rr';
  font-size: 14px;
  line-height: 19px;
  margin-top: 10px;
  color: #343435; }

.form-errors {
  font-size: 13px;
  line-height: 15px;
  display: inline-block; }

/**
 * Font settings
 * ----------------------------------------------------------------------------
 */
@font-face {
  font-family: 'rt';
  src: url('../fonts/roboto-thin.eot');
  src: url('../fonts/roboto-thin.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-thin.woff') format('woff'), url('../fonts/roboto-thin.ttf') format('truetype'), url('../fonts/roboto-thin.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'rl';
  src: url('../fonts/roboto-light.eot');
  src: url('../fonts/roboto-light.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-light.woff') format('woff'), url('../fonts/roboto-light.ttf') format('truetype'), url('../fonts/roboto-light.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'rr';
  src: url('../fonts/roboto-regular.eot');
  src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular.woff') format('woff'), url('../fonts/roboto-regular.ttf') format('truetype'), url('../fonts/roboto-regular.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'rb';
  src: url('../fonts/roboto-bold.eot');
  src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-bold.woff') format('woff'), url('../fonts/roboto-bold.ttf') format('truetype'), url('../fonts/roboto-bold.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal; }

/**
 * Links
 * ----------------------------------------------------------------------------
 */
a {
  text-decoration: none;
  -webkit-transition-property: color, background-color, opacity;
          transition-property: color, background-color, opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #343435; }
  a:link, a:visited, a:active, a.hover, a:focus {
    color: #343435;
    outline: 0 none;
    border: 0 none; }
  a.more {
    display: inline-block;
    width: 156px;
    height: 40px;
    background: url("../images/more_arrow1.svg") right center no-repeat;
    font-size: 20px;
    line-height: 22px;
    font-family: 'rl';
    color: #f5f5f5;
    text-transform: uppercase;
    text-align: left;
    opacity: 0.5; }
    a.more:before {
      display: inline-block;
      content: '';
      width: 30px;
      height: 40px;
      background: url("../images/eye.svg") center no-repeat;
      vertical-align: -13px;
      margin: 0 13px; }
    a.more:hover {
      opacity: 1; }
  a.more-2 {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 11px;
    background: url("../images/more_arrow2.svg") no-repeat center; }
  a.close1 {
    background: url("../images/close1.svg") center no-repeat;
    width: 16px;
    height: 16px; }
  a.back {
    display: inline-block;
    width: 100px;
    height: 40px;
    background: url("../images/back_arrow.svg") -8px center no-repeat;
    font-size: 18px;
    line-height: 20px;
    padding-top: 9px;
    font-family: 'rl';
    color: #f5f5f5;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.5; }
    a.back:hover {
      opacity: 1; }

/**
 * Form inputs
 * ----------------------------------------------------------------------------
 */
button, input, select, textarea {
  font-size: 18px;
  border: 0 none;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input[type="text"], input[type="password"] {
  height: 40px; }

a.button, button, input[type="submit"], input[type="button"], input[type="reset"] {
  -webkit-transition-property: color, background-color, opacity;
          transition-property: color, background-color, opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 26px;
  line-height: 26px;
  font-family: "rr";
  padding: 0;
  cursor: pointer;
  padding: 0 20px 5px;
  background-color: #bbb;
  color: #343435; }
  a.button:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover {
    background-color: #f5f5f5; }
  a.button.green, button.green, input[type="submit"].green, input[type="button"].green, input[type="reset"].green {
    background-color: #6e9b32;
    color: #2b4117; }
    a.button.green:hover, button.green:hover, input[type="submit"].green:hover, input[type="button"].green:hover, input[type="reset"].green:hover {
      background-color: #8cb44b; }

a.button {
  display: inline-block;
  padding-top: 6px; }

/**
 * Basic Structure
 * ----------------------------------------------------------------------------
 */
html, body {
  height: 100%; }

.wrapper, .footer {
  min-width: 1020px;
  max-width: 1900px; }

.wrapper {
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: #f5f5f5; }

/* Header
-----------*/
.header {
  height: 120px; }

/* Middle
----------*/
.site {
  padding: 0 0 320px; }

.content {
  width: 1020px;
  margin: 0 auto;
  position: relative; }

aside {
  width: 21%;
  display: inline-block;
  vertical-align: top;
  margin-right: 3.5%;
  padding-left: 20px; }

.articles {
  width: 75%;
  display: inline-block; }

/* Footer
----------*/
.footer {
  margin: -320px auto 0;
  height: 320px;
  position: relative; }

.icon {
  background-image: url('../images/sprite.png'); }

/**
 * Header
 * ----------------------------------------------------------------------------
 */
header {
  background-color: #8cb44b;
  border-bottom: 4px solid #2b4117;
  position: relative; }
  header hgroup {
    display: inline-block;
    vertical-align: top; }
    header hgroup a.logo {
      display: inline-block;
      width: 134px;
      height: 116px;
      background: url("../images/ra-logo.svg") center no-repeat #e86b17;
      margin-right: -5px !important; }
    header hgroup h1 {
      display: inline-block;
      background-color: #6e9b32;
      width: 246px;
      height: 116px;
      vertical-align: top;
      color: #f5f5f5;
      font-size: 33px;
      line-height: 35px;
      padding-left: 5px;
      padding-top: 20px; }
  header .my-avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url("../images/my-avatar.jpg") center bottom no-repeat transparent;
    background-size: 100%;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 20px; }

.login-form {
  width: 440px;
  height: auto;
  background-color: #8cb44b;
  padding: 20px; }
  .login-form label {
    width: 25%;
    display: inline-block;
    margin-top: 20px; }
    .login-form label[for="remember_me"] {
      width: 130px; }
    .login-form label + input {
      width: 71%;
      margin-left: 10px; }
  .login-form input[type="submit"] {
    text-align: center;
    margin-top: 20px; }
  .login-form fieldset.form-footer {
    border: 0 none;
    padding: 0;
    display: block;
    text-align: right; }
  .login-form .form-error-mess {
    margin: 10px 0 20px;
    color: #f5f5f5; }
  .login-form .buttons {
    margin-top: -60px; }
    .login-form .buttons a.button {
      margin-top: 10px; }

.header .login-form {
  display: none;
  position: absolute;
  z-index: 2;
  right: 0;
  margin-top: 32px; }

.content > .login-form {
  display: relative;
  margin: 40px auto; }

.main-slider {
  margin-top: 0;
  padding: 0;
  position: relative;
  height: 770px;
  overflow: hidden;
  width: 100%;
  border-bottom: 4px solid #2b4117; }
  .main-slider h2 {
    color: #2b4117;
    width: 540px;
    margin-top: 20px;
    position: absolute;
    z-index: 1; }
  .main-slider .slide {
    height: 100%; }
    .main-slider .slide .img-cont {
      height: 770px;
      overflow: hidden;
      width: 100%;
      background-color: #2b4117;
      position: relative; }
      .main-slider .slide .img-cont img {
        width: 100%;
        height: auto;
        min-height: 770px;
        min-width: 1155px;
        position: absolute;
        top: 0; }

.controls {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 100%; }
  .controls a {
    text-decoration: none;
    display: inline-block;
    opacity: 0.5; }
    .controls a.prev, .controls a.next {
      position: absolute;
      width: 80px;
      height: 80px;
      background: url('../images/arrow1.svg') center no-repeat #e86b17;
      background-size: 50% 50%; }
    .controls a.prev {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      left: 0; }
    .controls a.next {
      right: 0; }
    .controls a:hover {
      opacity: 1; }

.chapter.blog {
  margin-bottom: 0 !important; }
  .chapter.blog .slider-footer {
    height: auto; }
    .chapter.blog .slider-footer .controls {
      position: relative;
      top: 50px;
      width: 80px; }
      .chapter.blog .slider-footer .controls a.prev, .chapter.blog .slider-footer .controls a.next {
        height: 40px; }

/**
 * Content
 * ----------------------------------------------------------------------------
 */
h2 {
  font-size: 62px;
  line-height: 65px;
  font-family: 'rt';
  text-transform: uppercase;
  color: #6e9b32;
  margin-bottom: 20px; }

.home h2, .home h3 {
  font-size: 62px;
  line-height: 65px;
  font-family: 'rt';
  text-transform: uppercase;
  color: #343435; }
.home h3 {
  color: #6e9b32; }

section.chapter {
  margin-top: 40px;
  position: relative; }
  section.chapter:last-child {
    margin-bottom: 80px; }
  section.chapter h3 {
    margin-bottom: 20px; }
  section.chapter ul.figures li {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 25px; }
    section.chapter ul.figures li:last-child, section.chapter ul.figures li:nth-child(3n) {
      margin-right: 0; }
  section.chapter figure {
    width: 320px;
    height: 320px;
    display: block;
    position: relative;
    overflow: hidden; }
    section.chapter figure img {
      height: 100%; }
      section.chapter figure img.fullscr {
        display: none; }
    section.chapter figure figcaption {
      display: none;
      width: 100%;
      height: 70px;
      background-color: rgba(140, 180, 75, 0.8);
      padding: 10px;
      border-bottom: 4px solid #5b7126;
      position: absolute;
      bottom: 0; }
      section.chapter figure figcaption:before {
        content: '';
        width: 20px;
        height: 20px;
        background: url('../images/triange1.svg') center no-repeat;
        display: block;
        position: absolute;
        top: -16px;
        left: 10px;
        opacity: 0.8; }
      section.chapter figure figcaption h4, section.chapter figure figcaption p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #f5f5f5; }
      section.chapter figure figcaption h4 {
        font-size: 20px;
        line-height: 22px;
        text-transform: uppercase; }
      section.chapter figure figcaption p {
        margin-top: 5px; }
      section.chapter figure figcaption a {
        color: #f5f5f5;
        text-decoration: underline; }
  section.chapter .controls a {
    opacity: 0.3;
    width: 40px;
    height: 80px; }
    section.chapter .controls a:hover {
      opacity: 1; }
  section.chapter .chapter-footer {
    text-align: right;
    margin-top: 20px; }
  section.chapter.dark {
    background-color: #343435;
    padding: 40px 0; }
    section.chapter.dark h3 {
      color: #f5f5f5; }
  section.chapter.blog {
    background-color: #afcb78;
    padding: 40px 0 80px; }
    section.chapter.blog h3 {
      color: #2b4117; }
    section.chapter.blog ul li {
      width: 310px;
      margin-right: 30px;
      display: inline-block; }
      section.chapter.blog ul li:last-child {
        margin-right: 0; }
    section.chapter.blog article figure {
      width: 170px;
      height: 170px;
      border-radius: 50%;
      position: relative;
      background-color: #8cb44b; }
      section.chapter.blog article figure img {
        width: 100%;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -85px;
        margin-left: -85px; }
    section.chapter.blog article .post-head {
      margin-top: 20px; }
      section.chapter.blog article .post-head h4, section.chapter.blog article .post-head h4 a {
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #2b4117; }
        section.chapter.blog article .post-head h4:hover, section.chapter.blog article .post-head h4 a:hover {
          color: #f5f5f5; }
      section.chapter.blog article .post-head .date {
        color: #5b7126; }
    section.chapter.blog .chapter-footer {
      margin-top: 50px; }

.fullscreen {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1; }
  .fullscreen .img-block {
    position: absolute;
    width: 100%;
    height: auto;
    left: 50%;
    top: 50%;
    padding: 8px; }
  .fullscreen .help {
    width: 150px;
    background-color: #e86b17;
    text-align: center;
    color: #f5f5f5;
    padding: 10px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 45%;
    font-size: 14px;
    line-height: 16px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 30px #f5f5f5;
            box-shadow: 0 0 30px #f5f5f5; }
  .fullscreen .border {
    width: 100%;
    height: 100%;
    position: fixed;
    border: 8px solid #343435; }
  .fullscreen a.sitelink {
    display: none;
    width: 200px;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    background-color: #343435;
    color: #f5f5f5;
    text-align: center;
    padding: 20px;
    border-radius: 0 0 20px 20px; }
    .fullscreen a.sitelink:hover {
      text-decoration: underline; }

/**
 * Navigation
 * ----------------------------------------------------------------------------
*/
header nav.main-navigation {
  display: inline-block;
  margin-left: 10px;
  margin-top: 24px;
  margin-right: 90px;
  width: 535px;
  overflow: hidden; }
  header nav.main-navigation a, header nav.main-navigation span {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 17px;
    font-family: "rb"; }
  header nav.main-navigation button.menu-toggle {
    display: none; }
  header nav.main-navigation .local-block {
    text-align: right;
    margin-bottom: 3px; }
    header nav.main-navigation .local-block ul li {
      display: inline-block; }
      header nav.main-navigation .local-block ul li a {
        width: 50px;
        height: 32px;
        color: transparent; }
        header nav.main-navigation .local-block ul li a.ru {
          background: url("../images/flag_russia.svg") center no-repeat; }
        header nav.main-navigation .local-block ul li a.en {
          background: url("../images/flag_uk.svg") center no-repeat; }
  header nav.main-navigation .menu-block {
    display: inline-block;
    float: right; }
    header nav.main-navigation .menu-block > ul li {
      margin-right: 10px;
      display: inline-block;
      height: 30px; }
      header nav.main-navigation .menu-block > ul li:last-child {
        margin-right: 0; }
      header nav.main-navigation .menu-block > ul li:hover a, header nav.main-navigation .menu-block > ul li.current span {
        color: #f5f5f5; }
      header nav.main-navigation .menu-block > ul li:hover > ul.menu_level_1 {
        display: block; }
      header nav.main-navigation .menu-block > ul li > ul.menu_level_1 {
        display: none;
        height: auto;
        background-color: #6e9b32;
        position: absolute;
        z-index: 100001;
        margin-top: 5px;
        padding-top: 5px; }
        header nav.main-navigation .menu-block > ul li > ul.menu_level_1 > li {
          display: block;
          padding: 5px 10px; }
          header nav.main-navigation .menu-block > ul li > ul.menu_level_1 > li a, header nav.main-navigation .menu-block > ul li > ul.menu_level_1 > li span {
            display: block;
            width: 100%;
            max-width: 120px;
            height: auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #343435; }
          header nav.main-navigation .menu-block > ul li > ul.menu_level_1 > li:hover a {
            color: #f5f5f5; }
          header nav.main-navigation .menu-block > ul li > ul.menu_level_1 > li span {
            color: #f5f5f5; }
  header nav.main-navigation div.login {
    width: 100%;
    text-align: right;
    margin-top: -9px;
    float: right; }
    header nav.main-navigation div.login a {
      font-size: 12px;
      font-family: "rr"; }
      header nav.main-navigation div.login a:hover {
        color: #f5f5f5; }
    header nav.main-navigation div.login span {
      font-size: 12px;
      color: #f5f5f5;
      display: inline-block;
      margin-right: 5px; }
  header nav.main-navigation:after {
    content: ' ';
    display: block;
    clear: both; }

footer nav.footer-nav {
  margin-left: 84px;
  margin-top: 10px; }
  footer nav.footer-nav a, footer nav.footer-nav span {
    color: #a5a5a5;
    font-family: "rr";
    vertical-align: top; }
  footer nav.footer-nav > ul li {
    height: 30px;
    line-height: 30px; }
    footer nav.footer-nav > ul li:hover a, footer nav.footer-nav > ul li.current span {
      color: #f5f5f5; }
    footer nav.footer-nav > ul li > ul.menu_level_1 {
      display: inline-block;
      vertical-align: top;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      footer nav.footer-nav > ul li > ul.menu_level_1:before {
        content: '►';
        font-size: smaller;
        vertical-align: top; }
      footer nav.footer-nav > ul li > ul.menu_level_1 > li {
        display: inline-block;
        margin-right: 5px; }
        footer nav.footer-nav > ul li > ul.menu_level_1 > li a {
          color: #a5a5a5;
          font-family: 'rt'; }
          footer nav.footer-nav > ul li > ul.menu_level_1 > li a:hover {
            color: #f5f5f5; }

nav.sub-category, nav.left-menu {
  font-family: 'rt';
  font-size: 26px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: -10px; }
  nav.sub-category ul li, nav.left-menu ul li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    height: 50px; }
    nav.sub-category ul li a, nav.sub-category ul li span, nav.left-menu ul li a, nav.left-menu ul li span {
      display: inline-block;
      padding: 10px;
      border-bottom: 4px solid #f5f5f5; }
    nav.sub-category ul li.current span, nav.sub-category ul li.current a, nav.sub-category ul li a:hover, nav.sub-category ul li a.current, nav.left-menu ul li.current span, nav.left-menu ul li.current a, nav.left-menu ul li a:hover, nav.left-menu ul li a.current {
      border-bottom: 4px solid #6e9b32;
      background-color: #8cb44b;
      color: #f5f5f5; }
    nav.sub-category ul li:after, nav.left-menu ul li:after {
      content: '•';
      margin-left: 10px;
      font-size: 24px;
      color: #6e9b32;
      font-family: Verdana, Geneva, sans-serif; }
    nav.sub-category ul li:last-child:after, nav.left-menu ul li:last-child:after {
      content: ''; }
nav.left-menu ul li {
  display: block;
  margin-left: -20px;
  margin-right: 0; }
  nav.left-menu ul li:after {
    content: ''; }
  nav.left-menu ul li a, nav.left-menu ul li span {
    width: 95%;
    padding-left: 20px;
    padding-right: 20px; }

/**
 * Blog Content
 * ----------------------------------------------------------------------------
 */
article {
  margin-bottom: 40px; }
  article .post-img {
    width: 210px;
    height: auto;
    margin-top: 3px; }
    article .post-img img {
      margin-bottom: 20px;
      width: 100%;
      height: auto; }
  article .post-head h3, article .post-head h3 a {
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    color: #6e9b32; }
  article .post-head h3 {
    margin-bottom: 0; }
  article .post-head .date {
    font-family: 'rr';
    font-size: 14px;
    line-height: 20px;
    color: #a5a5a5; }
  article .post-body {
    margin-top: 10px; }
    article .post-body a {
      text-decoration: underline; }
  article .post-footer {
    margin-top: 20px; }

.blog.section aside h2.blog-caption, .blog.detail aside h2.blog-caption {
  margin-left: -4px; }
  .blog.section aside h2.blog-caption a, .blog.detail aside h2.blog-caption a {
    color: #8cb44b; }
.blog.section .articles, .blog.detail .articles {
  margin-top: 7px; }

.blog.detail .articles article .post-img {
  width: 100%; }

/**
 * Blog Content
 * ----------------------------------------------------------------------------
 */
.resume {
  padding-left: 20px; }
  .resume h3 {
    font-size: 26px;
    line-height: 29px;
    margin-top: 30px;
    margin-bottom: 10px !important;
    color: #6e9b32;
    text-transform: uppercase; }
    .resume h3 span {
      text-transform: none;
      font-size: 22px;
      vertical-align: top; }
  .resume h4 {
    font-size: 20px;
    line-height: 23px;
    margin-top: 20px;
    margin-bottom: 10px !important; }
  .resume p, .resume li, .resume td {
    font-size: 16px;
    line-height: 22px;
    color: #343435;
    margin-top: 5px; }
  .resume table {
    border-spacing: 0px;
    width: 100%; }
    .resume table thead td {
      font-family: 'rb';
      color: #a5a5a5; }
    .resume table td {
      border-bottom: 1px dotted #a5a5a5;
      vertical-align: top;
      padding: 10px 30px 12px; }
      .resume table td:first-child {
        padding-left: 0;
        width: 140px; }
      .resume table td:nth-child(2), .resume table td:nth-child(3) {
        width: 140px; }

/**
 * Blog Content
 * ----------------------------------------------------------------------------
 */
.contacts-block {
  padding-left: 20px; }
  .contacts-block h2 {
    margin-left: -5px; }
  .contacts-block p {
    font-size: 16px;
    line-height: 21px; }
  .contacts-block .left-block, .contacts-block .right-block {
    display: inline-block;
    vertical-align: top; }
  .contacts-block .left-block {
    width: 48%;
    margin-right: 3.5%; }
  .contacts-block .right-block {
    width: 48%;
    margin-top: -10px; }
    .contacts-block .right-block form.feedback input, .contacts-block .right-block form.feedback textarea, .contacts-block .right-block form.feedback button {
      width: 100%;
      margin-top: 20px;
      border: 1px solid #a5a5a5; }
    .contacts-block .right-block form.feedback textarea {
      height: 120px;
      resize: vertical; }

/**
 * Forms
 * ----------------------------------------------------------------------------
 */
.form-report-block {
  display: none;
  width: 320px;
  position: absolute;
  background-color: #e86b17;
  bottom: 0;
  padding: 20px;
  text-align: center;
  margin-left: -340px;
  color: #f5f5f5; }
  .form-report-block a.close1 {
    position: absolute;
    top: 10px;
    right: 10px; }
  .form-report-block .sign {
    width: 70px;
    height: 70px;
    display: inline-block; }
  .form-report-block.error .sign {
    background: url("../images/attention.svg") center no-repeat; }
  .form-report-block.success {
    background-color: #8cb44b; }
    .form-report-block.success .sign {
      background: url("../images/ok.svg") center no-repeat; }
  .form-report-block .form-message {
    width: 100%;
    display: inline-block; }
    .form-report-block .form-message h4 {
      font-family: 'rb';
      font-weight: normal; }
    .form-report-block .form-message ul {
      margin-top: 0; }
      .form-report-block .form-message ul li {
        margin-top: 0; }

/**
 * Footer
 * ----------------------------------------------------------------------------
 */
footer {
  color: #a5a5a5;
  padding-top: 30px;
  background: #343435; }
  footer .leftblock, footer .rightblock {
    display: inline-block;
    vertical-align: top; }
  footer .leftblock {
    width: 645px;
    margin-right: 50px;
    padding-left: 20px; }
    footer .leftblock h3 {
      font-size: 30px;
      line-height: 32px;
      font-family: "rt";
      color: #f5f5f5;
      text-transform: none;
      display: inline-block; }
      footer .leftblock h3:before {
        content: '';
        width: 65px;
        height: 53px;
        background: url('../images/ra-logo-orange.svg') center;
        background-size: 140% 100%;
        display: inline-block;
        vertical-align: -17px;
        margin-right: 18px; }
    footer .leftblock span {
      vertical-align: 2px; }
  footer .rightblock {
    width: 320px;
    margin-top: -14px; }
    footer .rightblock input, footer .rightblock textarea, footer .rightblock button {
      width: 100%;
      margin-top: 20px; }
    footer .rightblock textarea {
      height: 120px;
      resize: none; }

/**
 * Pager
 * ----------------------------------------------------------------------------
 */
.chapter-footer .pager {
  text-align: center; }
  .chapter-footer .pager a, .chapter-footer .pager span {
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 37px;
    font-size: 24px;
    font-family: 'rl'; }
    .chapter-footer .pager a:hover, .chapter-footer .pager a.current, .chapter-footer .pager span:hover, .chapter-footer .pager span.current {
      background-color: #e86b17;
      color: #f5f5f5; }
    .chapter-footer .pager a.pre, .chapter-footer .pager a.next, .chapter-footer .pager span.pre, .chapter-footer .pager span.next {
      width: 25px;
      height: 20px;
      background: url("../images/arrow-double.svg") center no-repeat;
      border: 0 none; }
      .chapter-footer .pager a.pre:hover, .chapter-footer .pager a.next:hover, .chapter-footer .pager span.pre:hover, .chapter-footer .pager span.next:hover {
        outline: 0 none; }
    .chapter-footer .pager a.pre, .chapter-footer .pager span.pre {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      margin-right: 20px; }
    .chapter-footer .pager a.next, .chapter-footer .pager span.next {
      margin-left: 20px; }
  .chapter-footer .pager span.pre, .chapter-footer .pager span.next {
    background: url("../images/arrow-double-disable.svg") center no-repeat; }

@media screen and (min-width: 0\0) {
  /* стили только для IE9 - IE10 */
  .footer {
    margin: 0 auto; } }
