{% if post %}
	{% if app.request.locale == 'en' %}
		{% set title = post.titleEn %}
		{% set body = post.bodyEn %}
	{% else %}
		{% set title = post.title %}
		{% set body = post.body %}
	{% endif %}
	<article>
		<div class="post-img">
			{% media post.image, 'big' with {'width': 'auto'} %}
		</div>
		<div class="post-head">
			<h3>{{ title }}</h3>
			<span class="date">{{ post.updatedDate|date("d-m-Y H:i") }}</span>
		</div>
		<div class="post-body">
			{{ body | raw() }} 
		</div>
		<div class="post-footer">
			<a href="{{ url('demos_blog_blog', {'slug1': params.slug1}) }}" class="back" onclick="history.back();">{% trans %}Назад{% endtrans %}</a>
		</div>
	</article>
{% endif %}